section.about
    .wrapper
        .about-block
            .about-block__text
                h2.page__title-h2 The Best Class for your Yoga Club
                p.page__text At solmen li esser necessi uniform grammatica, pronunciation sommun paroles, quande li coalingue simplic regulari quam coalescent lingues.
                ul.page__ul
                    li.page__ul-li Vivamus semper odio in nibh ultricies
                    li.page__ul-li Duis rhoncus lectus at velit hendrerit quis
                    li.page__ul-li Nam gravida magna vitae ante dignissim
                p.page__text Necessi uniform grammatica, pronunciation sommun paroles, quande li coalingue simplic regulari coalescent lingues.

            .about-block__img   
                img.page__img(src="assets/img/img-girl-1.png", alt="")