section#appointment.appointment
    .wrapper
        h2.page__title-h2 FORM & TIME SCHEDULE
        .page__text At solmen li esser necessi uniform grammatica, pronunciation 
        .appointment-block
            .appointment-block__form
                h3.page__title-h3 Make an Appiontment
                p.page__text At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.
                form.page__form
                    input.page__input(placeholder="First name*")
                    input.page__input(placeholder="First name*")
                    input.page__input(placeholder="First name*")
                    input.page__input(placeholder="First name*")
                    input.page__input(placeholder="First name*")
                    input.page__input(placeholder="First name*")
                    textarea.page__textarea(name="", cols="30", rows="10")
                    button.page__btn.page__btn_blue Book An Appointment
            .appointment-block__time
                h3.page__title-h3 Weekdays
                .page__text_semibold 06.00 AM - 07.00 AM
                p.page__text kundalini meditation beginners for Yoga
                .page__text_semibold 07.00 AM - 08.30 AM
                p.page__text Surya Namaskar & Advanced Meditation

                h3.page__title-h3 Weekends
                .page__text_semibold 05.00 AM - 07.00 AM
                p.page__text Weekly Pratice with children Yoga
                .page__text_semibold 08.00 AM - 10.00 AM
                p.page__text Advanced Meditation & Healthy Recipes
