section#banner.banner
    .banner_opacity 
    .wrapper
        .banner-block
            .banner-block__text
                h1.page__title-h1 Be peaceful in mind and healthy in Body!
                p.page__text At solmen va esser necessi fa uniform grammatica, pronunciation plu sommun paroles.
                a.page__btn(href="#appointment") Join us now 