section.callback
    .wrapper
        h2.page__title-h2 For any Queries and Free Class
        p.page__text At solmen li esser necessi uniform grammatica, pronunciation 
        button.page__btn.page__btn_blue Join us now