header.header
    .wrapper
        .header-block
            .header-block__email
                .page__icon.page__icon_mail
                a.page__link(href="mailto:Johndmelby@gmail.com") Johndmelby@gmail.com
            .header-block__logo
                a.page__link(href="#banner")
                    .header-block__logo-icon
            .header-block__phone
                .page__icon.page__icon_phone
                a.page__link(href="tel:1800 - 457 -8900") 1800 - 457 -8900