section.info
    .wrapper
        h2.page__title-h2 Your Natural of Yoga
        p.page__text Yoga is a mind and body practice with origins in ancient Indian philosophy
        .info-items
            .info-items__item
                .page__icon.page__icon_lotus
                h3.page__title-h3 Choose the class
                p.page__text It va esser tam simplic quam Occidental in fact, it va esser Occidental.
            .info-items__item
                .page__icon.page__icon_man-trening
                h3.page__title-h3 Workout Routines
                p.page__text It va esser tam simplic quam Occidental in fact, it va esser Occidental.
            .info-items__item
                .page__icon.page__icon_mat
                h3.page__title-h3 Yoga challenge
                p.page__text It va esser tam simplic quam Occidental in fact, it va esser Occidental.
