.social
    a.social__icon.social__icon_fb(href="")
    a.social__icon.social__icon_tw(href="")
    a.social__icon.social__icon_google(href="")
    a.social__icon.social__icon_pintrest(href="")
    a.social__icon.social__icon_in(href="")
    